doctype html
html(lang="ru-RU")
	head
		//Служебная информация для браузера
		meta(charset="utf-8")
		meta(name="description" content="Ремонт компьютеров и мобильных устройств, услуги системного администратора. Диагностика. Ремонт. С душой.")
		meta(name="keywords" content="ремонт телефонов, ремонт мобильных, ремонт ноутбуков, ремонт планшетов, системное администрирование, системный администратор спб, сборка компьютера спб")
		//Флавикорн
		title Душевный сервис
	body
		//Основное содержимое
		main.main